.friendMessage {
    margin: 0 70px;
    display: flex;
    justify-content: flex-start;
}

.friendImageAndText {
    width: 472px;
    height: 77px;
}

.friendImageAndText img {
    width: 48px;
    height: auto;
    margin: 30px 10px;

}

.friendText {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background-image: url("./Rectangle_2.png");
    background-position: center;
}

.friendText:after {

}

.friendName {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.friendMessageText {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.friendTime {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;

}
