.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}

.number {
    font-size: 16px;
    font-weight: bold;
}
